.featuresPanel {

    padding: 0;
    margin-right: 0;
    margin: 0;
}

.mainmap {
    margin-left: 0;
    height: 90vh;
    border-radius: 8px;
    z-index: 0;

}

.aboutPage {
  margin: 20px;
}


.form-group {
  margin-bottom: 15px;
}

.wrapper {

  height: 79vh;
  border: 1px solid lightgray;
  overflow: auto;
}
.riskmap_hourglass{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .8;
}
.hourglassIcon {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -50px; /* -1 * image width / 2 */
  margin-top: -45px;  /* -1 * image height / 2 */
  display: block;
}
.hourglasstext {
  color: #fcfcfc;
  position: relative;
  margin: auto;
  margin-top:10px;
  top: 50%;

}

.glyphicon {
  top:0;
}

.alerttextbox {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100px;
    z-index:1000;

    opacity: .8;
    color: #fcfcfc;


}
.alerttextbox_closed{
    background-color:red;
}
.alerttextbox_open{
    background-color:green;
}

.alerttextbox_caution{
    background-color: #e1db37;
}

.alerttextbox_warning{
    background-color:#f5ae14;
}
.alerttextbox_danger{
    background-color:#ff5c14;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}