.mainpage {
  margin: 0;
}
.header {
  margin-bottom: 0px;
}
h3{
  margin-top: 15px;
  margin-bottom: 15px;
}
.col-sm-12{
  padding: 0;
}

.navbar{
  margin-bottom: 0;
}

section {
  background-color: white;
}
