<div class="form-group">

    <input type="text" ng-model="inputAddress" class="form-control" id="address" name="address"
           placeholder="Insert address..." ng-change="getAddressList()">


  <!-- Address list-->
  <div class="">
    <div ng-repeat="address in addressResultList">

      <button class="btn btn-default btn-sm btn-block"  ng-click="selectAddress(address)">{{address.formatted_address}}
      </button>
    </div>
  </div>
</div>
</div>
