<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/leaflet-draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/leaflet.locatecontrol/dist/L.Control.Locate.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/mainmaps.css">
    <link rel="stylesheet" href="styles/mainPage.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/treeview.css">

  </head>
  <body ng-app="skyRailsApp" ng-controller="IndexCtrl" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-hide="hideHeader">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">SkyRails</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <!--<li><a href="#/">Home</a></li>-->
              <li><a ng-href="#/drone" ng-show="isAuthenticated">Drones</a></li>
              <li><a ng-href="#/manualZones" ng-show="isAuthenticated">Manual Zones</a></li>
              <li><a ng-href="#/rules" ng-show="isAuthenticated">Rules</a></li>
              <li><a ng-href="#/searchandrescue" ng-show="isAuthenticated">Search & Rescue</a></li>
              <!--<li><a ng-href="#/riskmap" ng-show="isAuthenticated">Risk Maps</a></li>-->
              <!--<li><a ng-href="#/admin">Setting</a></li>-->
              <li><a ng-href="#/routeplaner" ng-show="isAuthenticated">Route Planner</a></li>
              <li><a ng-href="#/simulator" ng-show="isAuthenticated">Simulator</a></li>
              <li><a ng-href="#/about">About</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="isAuthenticated"><a href="#/login">Login</a></li>
              <!--<li ng-hide="isAuthenticated"><a href="#/register">Register</a></li>-->
              <!--<li ng-show="isAuthenticated"><p class="navbar-text">Hello, <strong>{{user().email}}</strong></p></li>-->
              <li ng-show="isAuthenticated"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ui-view></div>
    </div>

    <!--<div class="footer">-->
      <!--<div class="container text-center">-->
        <!--<p><span class="glyphicon glyphicon-copyright-mark"></span> SkyRails 2015</p>-->
      <!--</div>-->
    <!--</div>-->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/leaflet-dist/leaflet.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/leaflet-draw/dist/leaflet.draw-src.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="bower_components/bootstrap-select/bootstrap-select.js"></script>
    <script src="bower_components/angular-bootstrap-select/build/angular-bootstrap-select.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="bower_components/leaflet.locatecontrol/src/L.Control.Locate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/manualzones.js"></script>
        <script src="scripts/services/restService.js"></script>
        <script src="scripts/controllers/areaquery.js"></script>
        <script src="scripts/controllers/rules.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/controllers/riskmap.js"></script>
        <script src="scripts/controllers/searchandrescue.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/authinterceptor.js"></script>
        <script src="scripts/controllers/drone.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/controllers/routeplaner.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/directives/addresssearch.js"></script>
        <script src="scripts/controllers/simulator.js"></script>
        <script src="scripts/services/sim.js"></script>
        <!-- endbuild -->
  <!-- external JS libs Added By Ziv-->
    <script src="externalJSLibs/geolib.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?language=iw">
    </script>
</body>
</html>
