<div class="row">
  <br>
  </div>
<div class="row">
<div class="jumbotron aboutPage">
  <h1>SkyRails</h1>
  <p>Where drones find their path</p>
  <p>&copy 2015</p>
</div>
  <!--Set local hostbutton-->
  <button class="btn btn-default" style="margin: 0;" type="button"
          ng-click="setHost('local')">Set local host
  </button>
  <button class="btn btn-default" style="margin: 0;" type="button"
          ng-click="setHost('skyrails')">Set Sky-Rails host
  </button>
  <button class="btn btn-default" style="margin: 0;" type="button"
          ng-click="setHost('fast')">Set fast host
  </button>
    <input type="checkbox" ng-model="debug" ng-click="updateDebugSelection($event)">Debug mode

</div>

