<section>
  <br>

  <div class="row">
    <div class="col-sm-4">
      <h4>Drone Operators</h4>

      <div ng-repeat="operators in droneOperators">
        <button class="btn-block">{{operators.name}}</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Drone Manufacturers</h4>

      <div ng-repeat="manufacturer in droneManufacturers">
        <button class="btn-block">{{manufacturer.name}}</button>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- Tags -->
      <div class="form-group">
        <h4 class="control-label">Operators</h4>

        <div class="input-group" ng-repeat="operator in droneOperators track by $index">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-trash" type="button"
                        ng-click="viewMethods.deleteOperator($index)"></button>
              </span>

                <button class="btn btn-default btn-block pull-left" type="button" ng-click="viewMethods.editOperator($index)">
                  {{operator.name}}
                </button>

        </div>


        <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default  glyphicon glyphicon-plus-sign" type="button"
                        ng-click="viewMethods.addOperator()"></button>
              </span>
          <input type="text" class="form-control" ng-model="newOperator">
        </div>
      </div>
    </div>
</section>
