<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <button class="btn btn-success btn-xs glyphicon" ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
            }" ng-if="node.nodes && node.nodes.length > 0" nodrag ng-click="toggle(this)">
    </button>
    <select class="selectpicker" ng-model="node.type" ng-change="update(node)">
      <option value="$all">All</option>
      <option value="$or">OR</option>
      <option value="$and">AND</option>
      <option value="tag">Tag</option>
      <option value="name">Name</option>
    </select>

    <select class="selectpicker" ng-model="node.regex" ng-if="node.type != '$or' && node.type!='$and' && node.type!='$all'">
      <option value="=">=</option>
      <option value="startWith">Starts with</option>
      <option value="contains">Contains</option>
      <option value="endWith">End with</option>
      <option value="not">Not</option>
    </select>

    <input class="input-sm" type="text" ng-model="node.title" ng-if="node.type != '$or' && node.type!='$and' && node.type!='$all'">
    <button class="pull-right btn btn-danger btn-xs glyphicon glyphicon-remove" nodrag ng-click="removeSubItem(this)" ng-if="node.root != 'yes'"></button>
    <button class="pull-right btn btn-primary btn-xs glyphicon glyphicon-plus" nodrag ng-click="newSubItem(this)"
            style="margin-right: 1px;" ng-if="node.type === '$or' || node.type ==='$and'"></button>

  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>


<section>
  <div class="modal-header">
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h3>{{title}} Query Builder</h3>
    </div>
  </div>
    </div>

  <div class="row">
    <br>
    <div class="col-sm-10 col-sm-offset-1" >
      <div ui-tree id="tree-root">
        <ol ui-tree-nodes ng-model="data">
          <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
      </div>
      <br>
    </div>


  </div>
  <div class="modal-footer">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" >
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
      </div>
    </div>
</section>
