<section>
  <br>

  <div class="row">
    <div class="col-sm-2">

      <div class="form-group">

        <button class="btn btn-warning btn-block" type="button"
                ng-click="modalQueryBuilder('lg',query,queryData)">Query Drones
        </button>
        <pre class="text-center">{{queryResultArray.length}} results</pre>
      </div>
      <div class="form-group">

        <!-- Order by -->
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{orderByLable}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="orderBy='name'; orderByLable='Sort by : Name '">Name</a></li>
            <li><a ng-click="orderBy='-createdAt' ; orderByLable='Sort by : Created @ '">Created at</a></li>
            <li><a ng-click="orderBy='-updatedAt' ; orderByLable='Sort by : Updated @ ' ">Updated at</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-sm btn-default" ng-click="viewMethods.addDrone()">
          Add
        </button>


      </div>

      <!-- drone list -->
      <div class="wrapper">
        <div ng-repeat="drone in queryResultArray | orderBy:orderBy" >
          <button class="btn btn-default btn-sm btn-block" ng-mouseover="viewMethods.hoverDrone(drone.id)" ng-mouseleave="viewMethods.mouseDownDrone()" ng-click="viewMethods.selectDrone(drone.id)">
            {{drone.name}}
          </button>
        </div>
      </div>


    </div>
    <div class="col-sm-2">

      <div ng-show="scratchPad!=null">
        <form name="myForm">


          <!--//Drone name-->
          <div class="form-group" show-errors>
            <label class="control-label">Drone Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter drone name"
                   ng-model="scratchPad.name" required >
          </div>

          <!-- isActive -->
          <div class="form-group">
            <button type="button" class="btn btn-block btn-xs" ng-class="{'btn-success':scratchPad.isActive,'btn-danger':scratchPad.isActive==false}" ng-model="scratchPad.isActive" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
              <span ng-if="scratchPad.isActive">Avtive</span><span ng-if="scratchPad.isActive==false">Not Active</span>
            </button>
          </div>

          <!--Drone Description-->
          <div class="form-group">
            <label class="control-label">Drone Description</label>
            <textarea style="overflow:auto;resize:none" class="form-control" rows="3" id="droneDescription" name="droneDescription" placeholder="Enter drone description" ng-model="scratchPad.description" ></textarea>
          </div>


          <!-- Tags -->
          <div class="form-group" >
            <label class="control-label">Tags</label>
            <div class="input-group" ng-repeat="sctag in scratchPad.tags track by $index">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-trash" type="button" ng-click="viewMethods.deleteTag($index)"></button>
              </span>
              <input type="text" class="form-control" ng-model="scratchPad.tags[$index]">
            </div>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="viewMethods.addTag()"></button>
              </span>
              <input type="text" class="form-control" ng-model="newTag">
            </div>
          </div>

          <!--id, createdAt,updatedAt-->
          <div class="form-group" ng-hide="scratchPad.isNew">
            <p class="help-block">ID: {{scratchPad.id}}</p>
            <p class="help-block">Created: {{scratchPad.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
            <p class="help-block">Updated: {{scratchPad.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </div>

          <!-- save, cancel, delete buttons-->
          <div class="btn-group btn-group-justified" role="group"
               ng-show="isEditOperationInProgress || scratchPad.isNew">
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.save()" hotkey="{'alt+s': viewMethods.save}"
                      class="btn-xs btn-success btn-block" ng-disabled="myForm.areaName.$invalid">Save
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.cancel()" hotkey="{esc: viewMethods.cancel}"
                      class="btn-xs btn-primary btn-block">Cancel
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-hide="scratchPad.isNew" ng-click="viewMethods.delete()" hotkey="{'alt+d': viewMethods.delete}"
                      class="btn-xs btn-danger btn-block">Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-8">



    </div>

  </div>
  {{scratchPad}}
</section>


