<section>
  <br>

  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 ">
      <div class="">
        <h3>Login</h3>
        <form name="myForm">
          <div class="form-group">
            <label classs="control-label">Username</label>
            <input type="text" ng-model="username" class="form-control" id="username" placeholder="Username" focus required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()" ng-disabled="myForm.$invalid">Submit</button>
        </form>
      </div>
      <br>
      <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
    </div>
    <div class="col-sm-4">

    </div>
</section>



