<div class="row mainpage">

  <div class="col-sm-12">

    <h3 class="text-center">SkyRails - Where drones find their path</h3>

    <img ng-src="images/openscreen.jpg" alt="" class="img-rounded img-responsive center-block homepage-img">
  </div>




</div>

<div class="footer">
  <div class="container text-center">
    <p><span class="glyphicon glyphicon-copyright-mark"></span> SkyRails 2015</p>
  </div>
</div>
