<section ng-controller="RiskmapCtrl">

  <div class="riskmap_hourglass" ng-if="isShowHourglass">

      <img class="hourglassIcon" src="images/hg-gears.svg">
      <p  class="hourglasstext text-center">SkyRails is working ...</p>


  </div>
    <div class="alerttextbox" ng-class="{alerttextbox_closed: alertType=='close',alerttextbox_open: alertType=='open',alerttextbox_caution: alertType=='caution',alerttextbox_warning: alertType=='warning',alerttextbox_danger: alertType=='danger'}" ng-if="isShowAlert">
        <h3   class="alerttext text-center blink_me">{{alert_title}}</h3>
        <h3 class="alerttext text-center">{{alert_text}}</h3>



    </div>
  <div class="row">
    <div class="col-sm-12">
      <leaflet center="center"  controls="controls" class="" style="height: 100vh; margin-bottom: 0;"></leaflet>
    </div>

  </div>


</section>

