<section>

  <div class="riskmap_hourglass" ng-if="isShowHourglass">

    <img class="hourglassIcon" src="images/hg-gears.svg">
    <p  class="hourglasstext text-center">SkyRails is working ...</p>


  </div>
  <div class="row">
    <div class="col-sm-2">

      <!--Query modal-->
      <div class="form-group">
        <div>
          <br>
          <button class="btn btn-warning btn-block" type="button"
                  ng-click="modalQueryBuilder('lg',query,queryData)">Query Drones
          </button>
        </div>
      </div>
      <label>Select Drone</label>
        <!-- drone select combo-->
      <div class="form-group">

          <div class="btn-group" dropdown >
            <button type="button" class="btn btn-sm btn-default" dropdown-toggle ng-disabled="disabled">
              {{currentDrone.name }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat=" drone in queryResultArray"><a ng-click="viewMethods.setCurrentDrone(drone)">{{drone.name}}</a></li>
            </ul>

          </div>
        </div>


      <div class="form-group">

        <!--Get risk map button-->
        <button class="btn btn-default btn-block" style="margin-bottom: 4px;" type="button"
                ng-click="viewMethods.getRiskMap(true) ">Get Risk Map
        </button>
        <!--Get route button-->
        <button class="btn btn-default btn-block" style="margin-bottom: 4px;" type="button"
                ng-click="viewMethods.getRoute(true)">Calculate Route
        </button>

        <!-- auto show-->
        <button type="button" class="btn btn-block" style="margin-bottom: 4px;"
                ng-class="{'btn-success':isAutoShow,'btn-default':isAutoShow==false}"
                ng-click="viewMethods.toogleAutoShow()">
          <span>Auto Show</span>
        </button>

        <!--clear risk layer-->
        <button class="btn btn-default btn-block" style="margin-bottom: 4px;" type="button"
                ng-click="viewMethods.clearRiskMap()">Clear Risk Map
        </button>
      </div>



    <!--origin destination address-->
      <label>Origin</label>
      <zl-address title='routeStartTitle' callback="viewMethods.startAddressSet(latLng)"></zl-address>
      <label>Destination</label>
      <zl-address title="routeEndTitle" callback="viewMethods.endAddressSet(latLng)"></zl-address>

      <!-- Bound map-->
      <div class="form-group">
        <button type="button" class="btn btn-default btn-block" style="margin: 0;" ng-click="viewMethods.includeAll()">
          <span>Bound Map</span>
        </button>
    </div>

      <div class="panel panel-info" ng-show="routeExists">
        <div class="panel-heading">
          <h3 class="panel-title">Route Info</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" >
            <li class="list-group-item">Route distance: {{routeDistance / 1000 | number:2}} KM</li>
            <li class="list-group-item">Direct distance: {{routeDirectDistance /1000 | number:2}} KM</li>
            <li class="list-group-item">No of waypoints: {{routeNoOfWaypoints}}</li>
            <li class="list-group-item">Processing time: {{routeCalculationTime}} sec</li>
          </ul>


        </div>
      </div>
      <div class="alert alert-danger" role="alert" ng-show="routeErrorMessage != null">{{routeErrorMessage}}</div>
    </div>


    <div class="col-sm-10">
      <leaflet center="center" layers="layers" markers="markers" controls="controls" class="mainmap" style="height: 87vh; margin-bottom: 10px;"></leaflet>
    </div>

  </div>


</section>
