<section>
  <br>

  <div class="row">
    <div class="col-sm-2">

      <div class="form-group">

        <button class="btn btn-info btn-block" type="button"
                ng-click="modalQueryBuilder('lg',query,queryData) ">Query Rules
        </button>
        <pre class="text-center">{{queryResultArray.length}} results</pre>
</div>
      <div class="form-group">

          <!-- Order by -->
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{orderByLable}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="orderBy='name'; orderByLable='Sort by : Name '">Name</a></li>
            <li><a ng-click="orderBy='-createdAt' ; orderByLable='Sort by : Created @ '">Created at</a></li>
            <li><a ng-click="orderBy='-updatedAt' ; orderByLable='Sort by : Updated @ ' ">Updated at</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-sm btn-default" ng-click="viewMethods.addRule()">
          Add
        </button>


      </div>

      <!-- rule list -->
      <div class="wrapper">
        <div ng-repeat="rule in queryResultArray | orderBy:orderBy" >
          <button class="btn btn-default btn-sm btn-block" ng-mouseover="viewMethods.hoverRule($event,rule.id)" ng-mouseleave="viewMethods.mouseDownRule()" ng-click="viewMethods.selecteRule(rule.id)">
            <span class=" pull-left" style="color:red;" ng-if="rule.type=='Mandatory_Close'">MC</span>
            <span class=" pull-left" style="color:darksalmon;" ng-if="rule.type=='Close'">CL</span>
            <span class=" pull-left" style="color:forestgreen;" ng-if="rule.type=='Open'">OP</span>
            <span class=" pull-left" style="color:darkslategray;" ng-if="rule.type=='Risk_level'">R</span>
            {{rule.name}}
            <span class="glyphicon glyphicon-stop pull-right" style="color:forestgreen;" ng-if="rule.isActive"></span>
            <span class="glyphicon glyphicon-stop pull-right" style="color:red;" ng-if="rule.isActive==false"></span>
          </button>
        </div>
      </div>


    </div>
    <div class="col-sm-2">

      <div ng-show="scratchPad!=null">
        <form name="myForm">

          <!--//Rule name-->
          <div class="form-group" show-errors>
            <label class="control-label">Rule Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter rule name"
                   ng-model="scratchPad.name" required >
          </div>

          <!-- isActive -->
          <div class="form-group">
          <button type="button" class="btn btn-block btn-xs" ng-class="{'btn-success':scratchPad.isActive,'btn-danger':scratchPad.isActive==false}" ng-model="scratchPad.isActive" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            <span ng-if="scratchPad.isActive">Avtive</span><span ng-if="scratchPad.isActive==false">Not Active</span>
          </button>
            </div>

          <!--Rule Description-->
          <div class="form-group">
            <label class="control-label">Rule Description</label>
            <textarea style="overflow:auto;resize:none" class="form-control" rows="3" id="ruleDescription" name="ruleDescription" placeholder="Enter rule description" ng-model="scratchPad.description" ></textarea>
          </div>

          <!--Rule Type -->
          <div class="form-group" >
            <label class="control-label">Rule Type</label><br>
            <div class="btn-group" dropdown >
              <button type="button" class="btn btn-sm btn-default" dropdown-toggle ng-disabled="disabled">
                {{scratchPad.type }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="scratchPad.type='Mandatory_Close'">Mandatory_Close</a></li>
                <li><a ng-click="scratchPad.type='Close'">Close</a></li>
                <li><a ng-click="scratchPad.type='Open'">Open</a></li>
                <li><a ng-click="scratchPad.type='Set_Risk'">Set_Risk</a></li>
              </ul>

            </div>

          </div>


          <!-- Risk Level-->
          <div class="form-group" ng-show="scratchPad.type=='Set_Risk'">
            <label class="control-label">Risk Level</label>
            <input type="text" class="form-control" placeholder="Enter risk level"
                   ng-model="scratchPad.riskLevel" required >
          </div>

          <!-- Zone Select-->
          <div class="form-group">
            <label class="control-label">Zone Select</label>
            <button class="btn btn-success btn-block" type="button"
                    ng-click="areaModalQueryBuilder('lg',query,queryData) ">Query Areas
            </button>
            <pre class="text-center">{{scratchAreas.length}} <span ng-if="scratchAreas.length==null">0 </span>areas in this rule</pre>
          </div>

          <!-- Drone Select-->
          <div class="form-group">
            <label class="control-label">Drone Select</label>
            <button class="btn btn-warning btn-block" type="button"
                    ng-click="droneModalQueryBuilder('lg',query,queryData) ">Query Drones
            </button>
            <pre class="text-center">{{scratchDrones.length}} <span ng-if="scratchDrones.length==null">0 </span>drones in this rule</pre>
          </div>
          <!-- Tags -->
          <div class="form-group" >
            <label class="control-label">Tags</label>
            <div class="input-group" ng-repeat="sctag in scratchPad.tags track by $index">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-trash" type="button" ng-click="viewMethods.deleteTag($index)"></button>
              </span>
              <input type="text" class="form-control" ng-model="scratchPad.tags[$index]">
            </div>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="viewMethods.addTag()"></button>
              </span>
              <input type="text" class="form-control" ng-model="newTag">
            </div>
          </div>

          <!--id, createdAt,updatedAt-->
          <div class="form-group" ng-hide="scratchPad.isNew">
            <p class="help-block">ID: {{scratchPad.id}}</p>
            <p class="help-block">Created: {{scratchPad.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
            <p class="help-block">Updated: {{scratchPad.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </div>

          <!-- save, cancel, delete buttons-->
          <div class="btn-group btn-group-justified" role="group"
               ng-show="isEditOperationInProgress || scratchPad.isNew">
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.save()" hotkey="{'alt+s': viewMethods.save}"
                      class="btn-xs btn-success btn-block" ng-disabled="myForm.areaName.$invalid">Save
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.cancel()" hotkey="{esc: viewMethods.cancel}"
                      class="btn-xs btn-primary btn-block">Cancel
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-hide="scratchPad.isNew" ng-click="viewMethods.delete()" hotkey="{'alt+d': viewMethods.delete}"
                      class="btn-xs btn-danger btn-block">Delete
              </button>
            </div>



          </div>


        </form>




      </div>
    </div>
    <div class="col-sm-8">

      <leaflet center="center" layers="layers" controls="controls" class="mainmap"></leaflet>

    </div>

  </div>
  <!--{{scratchPad}}-->
</section>

