<section>
  <br>

  <div class="row">
    <div class="col-sm-2">

      <div class="form-group">

        <!-- Address -->


        <h4 class="text-center text-danger">Search & Rescue Command Center</h4>
        <br>
        <!--Add area by address-->
        <div class="form-group">
          <label class="control-label">Add by address</label>

          <div class="input-group" >
            <input type="text" ng-model="inputAddress" class="form-control" id="address" name="address"
                   placeholder="S&R Event address..." ng-change="getAddressList()">
              <span class="input-group-btn">
                  <button style="margin-right:0px;" class="btn btn-warning" type="button" ng-disabled="inputAddress==null || inputAddress==''"
                          ng-click="geoCode(inputAddress)">Add
                  </button>
            </span>
          </div>
          <!-- Address list-->
          <div class="">
            <div ng-repeat="address in addressResultList">

              <button class="btn btn-default btn-sm btn-block"  ng-click="selectAddress(address)">{{address.formatted_address}}
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">

</div>
        <!-- number of areas/events-->
        <pre class="text-center">{{queryResultArray.length}} Search & Rescue events</pre>




        <!-- Order by -->
        <div class="btn-group" class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle " dropdown-toggle ng-disabled="disabled">
            {{orderByLable}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="orderBy='name'; orderByLable='Sort by : Name '">Name</a></li>
            <li><a ng-click="orderBy='-createdAt' ; orderByLable='Sort by : Created @ '">Created at</a></li>
            <li><a ng-click="orderBy='-updatedAt' ; orderByLable='Sort by : Updated @ ' ">Updated at</a></li>

          </ul>
        </div>
        <button class="btn btn-default btn-sm" type="button"
                ng-click="viewMethods.includeAll()">Bound All
        </button>
      </div>

      <!-- Areas list-->
      <div class="wrapper">
        <div ng-repeat="area in queryResultArray | orderBy:orderBy">
          <button class="btn btn-default btn-sm btn-block" ng-mouseover="viewMethods.hoverRule(area.id)" ng-mouseleave="viewMethods.mouseDownRule()" ng-click="viewMethods.selecteArea(area.id)">{{area.name}}
          </button>
        </div>
      </div>


    </div>

    <div class="col-sm-2">


      <div ng-show="scratchPad != null">
        <!-- Default pane  contents -->

        <br>

        <form name="myForm">


          <div class="form-group" show-errors>
            <label class="control-label">Area Name</label>
            <input type="text" class="form-control" id="areaName" name="areaName" placeholder="Enter area name"
                   ng-model="scratchPad.geoFeature.properties.name" required>
          </div>

          <div class="form-group">
            <label class="control-label">Tags</label>

            <div class="input-group" ng-repeat="sctag in scratchPad.geoFeature.properties.tags track by $index">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-trash" type="button" ng-disabled="sctag=='S&R'"
                        ng-click="viewMethods.deleteTag($index)"></button>
              </span>
              <input type="text" class="form-control" ng-disabled="sctag=='S&R'"
                     ng-model="scratchPad.geoFeature.properties.tags[$index]">
            </div>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button"
                        ng-click="viewMethods.addTag()"></button>
              </span>
              <input type="text" class="form-control" ng-model="newTag">
            </div>
          </div>


          <div class="form-group" ng-hide="scratchPad.isNew">
            <p class="help-block">Area ID: {{scratchPad.geoFeature.properties.id}}</p>

            <p class="help-block">Created: {{scratchPad.geoFeature.properties.createdAt | date:'dd/MM/yyyy
              HH:mm:ss'}}</p>

            <p class="help-block">Updated: {{scratchPad.geoFeature.properties.updatedAt | date:'dd/MM/yyyy
              HH:mm:ss'}}</p>
          </div>
          <!-- save, cancel, delete buttons-->
          <div class="btn-group btn-group-justified" role="group"
               ng-show="isEditOperationInProgress || scratchPad.isNew">
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.save()" hotkey="{'alt+s': viewMethods.save}"
                      class="btn-xs btn-success btn-block" ng-disabled="myForm.areaName.$invalid">Save
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-click="viewMethods.cancel()" hotkey="{esc: viewMethods.cancel}"
                      class="btn-xs btn-primary btn-block">Cancel
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-hide="scratchPad.isNew" ng-click="viewMethods.delete()"
                      hotkey="{'alt+d': viewMethods.delete}"
                      class="btn-xs btn-danger btn-block">Delete
              </button>
            </div>
          </div>
        </form>


      </div>
    </div>

    <div class="col-sm-8">

      <leaflet center="center" layers="layers" controls="controls" class="mainmap"></leaflet>

    </div>

  </div>

</section>

